@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Product Sans', sans-serif;
}

body {
  background: white;
}

/*--- <Estilos do menu de navegação> ---*/

a.botao-contratar {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  background-color: #6C63FF;
  text-align: center;
  transition: all 0.2s;
}

a.botao-contratar:hover {
  color: white;
  background-color: #918dd6;
}

.active,
.ponto:hover {
  background-color: #717171;
}

.conteudoCentral {
  width: 100%;
  height: 505px;
  background: #1D212B;
  padding: 5px;
}

#areaTextos {
  color: white;
  position: absolute;
  overflow: hidden;
  top: 20%;
  float: left;
  overflow: hidden;
  padding: 20px;
}

nav {
  background: #1D212B;
  width: 100%;
  z-index: 999;
  height: 65px;
  line-height: 65px;
  position: absolute;
}

nav .wrapper {
  position: relative;
  max-width: 1250px;
  padding: 0 30px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .navbar {
  display: inline-flex;
}

.wrapper .logo a {
  color: white;
  text-decoration: none;
  font-size: 27px;
  font-weight: 600;
}

.wrapper .botao {
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.wrapper .botao.cancelar {
  position: absolute;
  right: 30px;
  top: 10px;
}

.wrapper input {
  display: none;
}

.navbar li {
  list-style: none;
}

.navbar li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.navbar li a:hover {
  background: #717171;
}

.navbar li:hover .servicos-menu {
  top: 65px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}

.navbar .mobile {
  display: none;
}

.servicos-menu {
  position: absolute;
  top: 80px;
  width: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  padding: 0 30px;
  transition: all 0.3s ease;
}

.servicos-menu .conteudo {
  background: #1D212B;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.conteudo .linha {
  width: calc(25% - 30px);
  line-height: 45px;
}

.conteudo .linha img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.conteudo .linha header {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.conteudo .linha:nth-child(1),
.conteudo .linha:nth-child(2) {
  border-left: 0px;
}

.conteudo .linha .links {
  border-left: 1px solid rgba(255, 255, 255, 0.09);
  margin-left: -40px;
}

.linha .links li {
  padding: 0 20px;
}

.linha .links li a {
  padding: 0 20px;
  color: white;
  font-size: 17px;
  display: block;
}

/*--- </Estilos do menu de navegação> ---*/

/* <Parte responsiva>*/
@media screen and (max-width: 970px) {
  .img-slider {
    display: none;
  }

  .wrapper .botao {
    display: block;
  }

  .wrapper .navbar {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #1D212B;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
  }

  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #242526;
  }

  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }

  .navbar li {
    margin: 15px 10px;
  }

  .navbar li a {
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }

  #mostrarDropdown:checked~.servicos-menu {
    max-height: 100%;
  }

  .navbar .desktop {
    display: none;
  }

  .navbar .mobile {
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .navbar .mobile:hover {
    background: #3A3B3C;
  }

  .servicos-menu {
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .servicos-menu .conteudo {
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }

  .servicos-menu .conteudo .linha {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }

  .servicos-menu .conteudo .linha:nth-child(1),
  .servicos-menu .conteudo .linha:nth-child(2) {
    border-top: 0px;
  }

  .conteudo .linha .links {
    border-left: 0px;
    padding-left: 15px;
  }

  .linha .links li {
    margin: 0;
  }

  .conteudo .linha header {
    font-size: 19px;
  }

  nav input {
    display: none;
  }

  .slide-show {
    display: none;
  }

  h1 {
    font-size: 20px;
  }

  .botao-contratar {
    padding: 30px;
  }
}

/*</Parte Resposiva>*/

.img-slider {
  float: right;
  position: relative;
  width: 800px;
  height: 500px;
  background: #1D212B;
  overflow: hidden;
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img {
  z-index: 1;
  width: 100%;
}

.img-slider .slide .info {
  position: absolute;
  top: 60px;
  padding: 15px 30px;
}

.img-slider .slide .info p {
  color: #1b1b1b;
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}

.img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .botaoslider {
  background: black;
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .botaoslider.active {
  background: #2696E9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
  
  /* Estilo do Formulário*/

/*-------------Fotter--------*/

.footer {
  justify-content: center;
  background-color: #1D212B;
  width: 100%;
  height: 30px;
  position: fixed;
  padding: 25px 50px;
  display: flex;
  flex-wrap: wrap;
  color: white;
  bottom: 0;
}
/*------Estilo Cadastro e login*/

.section{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

.section .imgBX{
  position: relative;
  width: 50%;
  height: 100%;
}

.section .imgBX::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%; 
}

.section .imgBX img{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-top: 30px;
}

.section .contentBX{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  z-index: 1;
  margin-top: 30px;
}

.section .contentBX .formBX{
  width: 50%;
}

.section .contentBX .formBX h2{
  color: #607d8b;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid rgb(90, 24, 154);
  display: inline-block;
  letter-spacing: 1px;

}

.section .contentBX .formBX .inputBX{
  margin-bottom: 20px;
}

.section .contentBX .formBX .inputBX span{
 font-size: 16px;
 margin-bottom: 5px;
 display: inline-block;
 color: #607db8;
 font-weight: 300;
 font-size: 16px;
 letter-spacing: 1px;
}

.section .contentBX .formBX .inputBX input{
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #607d8b;
  font-size: 16px;
 letter-spacing: 1px;
 background: transparent;
 border-radius: 30px;
}

.section .contentBX .formBX .inputBX input[type="submit"]{
  background:rgb(90, 24, 154);
  color: white;
  outline: none;
  border: none;
  font-weight: 500;
  cursor:pointer;
}

.section .contentBX .formBX .inputBX input[type="submit"]:hover{
  background: rgb(123, 44, 191);
}

.section .contentBX .formBX .remember{
  margin-bottom: 10px;
  color: #607d8b;
  font-size: 14px;
  font-weight: 400;
}

.section .contentBX .formBX .inputBX p{
  color: #607d8b;
}

.section .contentBX .formBX .inputBX p a{
  color: rgb(90, 24, 154);
}

.section .contentBX .formBX h3{
  color: #607d8b;
  text-align: center;
  margin: 80px 0 10px;
  font-weight: 500;
}

section .contentBX .formBX .social-media{
  display: flex;
  justify-content: center;
  align-items: center;
}

section .contentBX .formBX .social-media a{

  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  background: whitesmoke;
  border-radius: 50%;
  margin: 0 7px;
  cursor: pointer;
}

@media (max-width:768px){
  .section .imgBX{
    display: none;
  }

  .section .contentBX{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    flex-wrap: wrap;

  }

  .section .contentBX .formBX{
    width: 100%;
    padding: 40px;
    margin: 50px;
  }

  .section .contentBX .formBX h3{
    color: #607d8b;
    text-align: center;
    margin: 30px 0 10px;
    font-weight: 500;
  }

  .section .contentBX .formBX h2{
    text-align: center;
  }

  .section .contentBX .formBX .remember{
    margin-bottom: 10px;
    text-align: center;
  }
}

/*Cards de categoria*/
/*-----------Cards categoria---------------------------------*/
.row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image {
  position: relative;
  flex: 50%;
  max-width: 400px;
  height: 300px;
  margin: 50px 60px 0 60px;
  overflow: hidden;
}

.image img {
  opacity: 0.7;
  position: relative;
  vertical-align: top;
  transition: 0.6;
  transition-property: opacity;
}

.image:hover img {
  opacity: 1;
}

.image .details {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  width: 100%;
  height: 100%;
}

.image .details h2 {
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 70px;
  margin-bottom: 10px;
  transition: 0.4s;
  transition-property: transform;
}

.image:hover .details h2 {
  transform: translateY(-30px);
}

.image .details p {
  margin: 5px 10px 0 10px;
  font-size: 18px;
  font-size: 600;
  text-align: center;
  opacity: 0;
  transition: opacity, transform;
}

.image:hover .details p {
  opacity: 1;
  transform: translateY(-40px);
}

/*-- Responsive CSS --*/

@media(max-widht: 1080px) {
  .image {
    flex: 100%;
    max-width: 480px;
  }
}

@media(max-widht:400px) {
  .image .details {
    font-size: 14px;
  }
}

/*----Estilo Cards Profissionais-----*/

.container-card {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    height: 290px;
    max-width: 350px;
    margin: 0 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    transition: 0.4s;
}

.card .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .top-text {
    padding: 5px;
}

.card .top-text .name {
    font-size: 20px;
    font-weight: 600px;
    color: #202020;
}

.card .top-text p {
    font-size: 15px;
    font-weight: 600px;
    color: rgb(90, 24, 154);
    line-height: 20px;
    margin-bottom: 5px;
}

.card .bottom-text {
    padding: 0 20px 10px 20px;
    margin-top: 5px;
    background: white;
}

.card .bottom-text {
    text-align: justify;
    opacity: 0;
    visibility: hidden;
    transition: 0.1s;
}

.card:hover .bottom-text {
    opacity: 1;
    visibility: visible;
}

.card .bottom-text .btn-card {
    margin: 10px 0;
    text-align: left;
}

.card .bottom-text .btn-card a {
    text-decoration: none;
    background: rgb(90, 24, 154);
    color: white;
    padding: 5px 8px;
    border-radius: 3px;
    display: inline-flex;
    transform: 0.2s;
}

.card .bottom-text .btn-card a:hover {
    transform: scale(0.9);
}

.card:hover {
    height: 470px;
}

@media screen and (max-widht:978px) {

    .card {
        max-width: 700px;
        margin: 20px 0;
    }
}

.catg{
    text-align: center;
    background-color: white;
    margin: 30px;
    color: rgb(60, 9, 108);
}

/*Estilo do Formulário */
.containerForm {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-color: #fafafa;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color:#6a60c3;
  position: relative;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #7e78f3);
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #6a60c3;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

#categoria{
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
}

#categoria > option {
  background:  #6a60c3;
  color: white;
  border-radius: 60px;
  font-size: 15px;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #1b1b1b;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #6a60c3;
  line-height: 1;
  border-radius: 25px;  
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: #1b1b1b;
}

.text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media p {
  color: #333;
}

.social-icons {
  display: flex;
  padding: 15px;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #6C63FF, #534ce6);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #6C63FF;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

.big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #6C63FF,  #4f47e6);
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fafafa;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; 
}

/*Perfil do Contratado*/
.conteudo{
	left: 50px;
	position: relative;
	width: 50%;
}

.profile_card{
	width: 900px;
	height: 100%;
	padding: 50px 25px;
}

.profile_wrap{
  padding: 30px;
	width: 500px;
	height: 100%;
	text-align: center;
}

.profile_card .profile_img img{
	width: 40%;
	border-radius: 50%;
}

.profile_card .profile_img .name{
	font-size: 24px;
	font-weight: 500;
}

.profile_card .profile_img .place{
	text-align: center;
	font-size: 14px;
	font-weight: 300;
}

.profile_card .place .icon{
	margin-right: 10px;
}

.profile_icons{
	align-items: center;
	justify-content: center;
	display: flex;
}

.profile_icons .icon,
.profile_icons .number{
	font-size: 24px;
}
.profile_icons .title{
	font-size: 12px;
	text-transform: uppercase;
	margin: 10px 0;
}

.profile_btn{
	justify-content: center;
	align-items: center;
	width: 30%;
	background: #1b1b1b;
	padding: 10px;
	border-radius: 25px;
	color: white;
	cursor: pointer;
}

.profile_btn:hover{
	background: #717171;
}

.back_btn, 
.settings_btn{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.back_btn{
	left: 0;
}

.settings_btn{
	right: 0;
	box-shadow: inset 2px -2px 3px #6a60c3;
}

.profile_slider{
	width: 325px;
	height: 400px;
	background: #fff;
	color: #7b7a82;
	position: absolute;
	top: 25px;
	left: 0;
	font-size: 14px;
	transition: left 0.2s ease;
}

.profile_slider li{
	height: 80px;
	border-bottom: 1px solid #eceff4;
	padding: 15px;
}

.profile_slider li:last-child{
	border-bottom: 0;
}

.profile_slider li .slider_item,
.profile_slider li .slider_left{
	display: flex;
}

.profile_slider li .slider_item{
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.profile_slider img{
	width: 35px;
	border-radius: 50%;
	margin-right: 10px;
}

.profile_slider .item{
	text-align: left;
	font-size: 12px;
}

.profile_slider .item_email{
	font-weight: 300;
	margin-top: 5px;
}

.profile_slider .btn{
	width: 100px;
	padding: 8px 10px;
	border-radius: 25px;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
}

.profile_slider .btn.btn_following{
	background: #6a60c3;
	color: #fff;
}

.profile_slider .btn.btn_following:hover{
	background: #8178d1;
}

.profile_slider .btn.btn_follow{
	border: 1px solid #7b7a82;
}

.profile_slider .btn.btn_follow:hover{
	color: #fff;
	background: #7b7a82;
}

.profile_slider.active{
	left: 100%;
}

.settings_btn.active{
	background: #6a60c3;
}

.settings_btn i{
	transition: transform 0.2s ease;
}

.settings_btn.active i{
	transform: rotate(360deg);
}

/*PRODUCT */

.price-comparison {
	top: 60px;
	padding: 30px;
	right: 25px;
	float: right;
	display: flex;
	justify-content: center;
	width: 50%;
	position: absolute;
	overflow: hidden;
  }
  
  .price-column {
	background-color: white;
	box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
	padding: 2rem;
	flex-grow: 1;
	flex-basis: 0;
	max-width: 275px;
	border-radius: 8px;
  }
  
  .price-column.popular {
	position: relative;
	background: whitesmoke;
	box-shadow: 0 7px 30px rgba(52, 13, 135, 0.3);
	color: #1b1b1b;
	margin-top: -1.5rem;
	padding-top: 3.5rem;
	margin-bottom: -1.5rem;
	padding-bottom: 3.5rem;
  }
  
  .price-column:first-child {
	border-top-right-radius: 0; 
	border-bottom-right-radius: 0; 
  }
  
  .price-column:last-child {
	border-top-left-radius: 0; 
	border-bottom-left-radius: 0; 
  }
  
  .price-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: var(--heading-font-family);
	font-weight: bold;
  }
  
  .price {
	font-size: 3.5rem;
	display: flex;
  }
  
  .dollar-sign {
	font-size: 1.5rem;
	margin-top: .5rem;
	margin-right: .25rem;
  }
  
  .per-month {
	font-size: .75rem;
	align-self: flex-end;
	margin-bottom: 1.1rem;
	text-transform: uppercase;
  }
  
  .plan-name {
	text-transform: uppercase;
	font-size: .9rem;
	margin-top: 1rem;
	margin-bottom: 0;
  }

  .centralizar{
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  text-align: center;
  }

  .divider {
	height: 1px;
	width: 100%;
	background-color: rgba(0, 0, 0, .2);
	margin-top: 2rem;
	margin-bottom: 2rem;
  }
  
  .price-column.popular .divider {
	background-color: rgba(255, 255, 255, .2);
  }
  
  .feature {
	display: flex;
	align-items: center;
	margin: .5rem;
  }
  
  .feature img {
	height: 1.1em;
	width: 1.1em;
	margin-right: .5rem;
  }
  
  .feature.inactive {
	color: #999;
	text-decoration-line: line-through;
  }
  
  .most-popular {
	position: absolute;
	top: .5rem;
	left: .5rem;
	right: .5rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
  }
  
  .cta {
	border: 2px solid black;
	background: lightgrey;
	color: #1b1b1b;
	width: 100%;
	padding: .75rem 1rem;
	cursor: pointer;
	font-weight: bold;
	border-radius: 4px;
	margin-top: 3rem;
	transition: 100ms;
	transform: scale(1);
  }
  
  .price-column.popular .cta {
	background-color: black;
	color: white;
  }
  
  .cta:hover, .cta:focus {
	transform: scale(1.1);
  }

  /* Testemunhos */
  .testimonials{
	padding: 40px 0;
	color: #434343;
	text-align: center;
  }
  .inner{
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	padding: 0 20px;
  }
  
  .border{
	width: 160px;
	height: 5px;
	background: #6ab04c;
	margin: 26px auto;
  }
  
  .row{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  .col{
	flex: 33.33%;
	max-width: 33.33%;
	box-sizing: border-box;
	padding: 15px;
  }
  .testimonial{
	background: #fff;
	padding: 30px;
  }
  .testimonial img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
  }
  .name{
	font-size: 20px;
	text-transform: uppercase;
	margin: 20px 0;
  }
  .stars{
	color: #6ab04c;
	margin-bottom: 20px;
  }
  
  
  @media screen and (max-width:960px) {
    .profile_card{
        width: 500px;
        height: 450px;
        padding: 50px 20px 100px 0px;
    }
    .price-comparison{
      display: none;
    }
    .col{
    flex: 100%;
    max-width: 80%;
    }
  }
  
  @media screen and (max-width:600px) {
      .col{
      flex: 100%;
      max-width: 100%;
      }
  }